*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-container{
    width: 50%;
    margin: 10rem auto;
    border: 5px black solid;
    overflow: hidden;
    position: relative;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
}
img{
    max-width: 100%;
}

#prevBtn{
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 10;
    color: grey;
    font-size: 2rem;
}

#nextBtn{
    position: absolute;
    top: 50%;
    right:2%;
    z-index: 10;
    color: grey;
    font-size: 2rem;
}
#nextBtn:hover, #prevBtn:hover{
    cursor: pointer;
    text-shadow: black 3px 2px 2px;
}
/* #nextBtn:hover{
    cursor: pointer;
    text-shadow: black 3px 2px 2px;
} */